/* You can add global styles to this file, and also import other style files */

body {
  background-color: #f8f9fa;
}

.card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar-brand {
  font-weight: 600;
}

.form-label {
  font-weight: 500;
  color: #495057;
}
